<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>8011953267-sagcnm4v9u10oc1293bu62i2la8f2vob.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.8011953267-sagcnm4v9u10oc1293bu62i2la8f2vob</string>
	<key>API_KEY</key>
	<string>AIzaSyDgQrcM2GgsVAC8wB9fDPjWrxDzVjG4JTo</string>
	<key>GCM_SENDER_ID</key>
	<string>8011953267</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.handysub</string>
	<key>PROJECT_ID</key>
	<string>handysub-5a192</string>
	<key>STORAGE_BUCKET</key>
	<string>handysub-5a192.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:8011953267:ios:13142e9cfc7b5e79056606</string>
</dict>
</plist>